<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
<body>
    {% include "nav.html" %}
    {% load static %}
    <section class="p-5 pt-2">
        <h1>{{title}}</h1>
        <img src="{% static '/img/library_image.png' %}" alt="library" width="20%"/>
    </section>
    {% if messages %}
        {% for message in messages %}
            <div class="position-absolute bottom-0 end-0 m-5 w-25 alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% include "footer.html" %}
</body>
</html>
