<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
<body class="p-5 pt-2">
    <!-- {% include "nav.html" %} -->
    {% load static %}
        <div class="d-flex justify-content-between align-items-center p-2">
            <h1>{{title}}</h1>
            <a href={% url 'list_books' %} class="btn btn-primary h-50">Return</a>
        </div>
        <form action="{% if book %} {% url 'edit_book' book.id %} {% else %} {% url 'create_book' %} {% endif %}" method="post" class="d-flex flex-column">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" id="title" class="form-control" placeholder="Harry Potter" value="{{book.title}}">
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" name="author" id="author" class="form-control" placeholder="J. K. Rowling" value="{{book.author}}">
            </div>
            <div class="mb-3">
                <label for="pages" class="form-label">Number of pages</label>
                <input type="number" name="pages" id="pages" min="0" class="form-control" placeholder="300" value="{{book.pages}}">
            </div>
            <div class="mb-3">
                <label for="publication_date class="form-label">Publication Date</label>
                <input type="date" name="publication_date" id="publication_date" min="0" class="form-control" placeholder="300" value="{{book.publication_date|date:'Y-m-d'}}">
            </div>
            <div class="mb-3">
                <label for="classification">Classification</label>
                <select name="classification" class="form-control" id="classification">
                    <option value="0">N/A</option>
                    <option value="1" {% if book.classification == 1 %}selected=""{% endif %}>Romance</option>
                    <option value="2" {% if book.classification == 2 %}selected=""{% endif %}>Aventura</option>
                    <option value="3" {% if book.classification == 3 %}selected=""{% endif %} >Ficción</option>
                </select>
            </div>

            <div class="mb-3" style="justify-self: end;">
                <button type="submit" class="btn btn-success">
                    {% if book %}
                        Update
                    {% else %}
                        Save
                    {% endif %}
                </button>
            </div>
        </form>
        
    {% include "footer.html" %}
</body>
</html>